@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
header{
    position: relative;
}
nav{
    background-color: black;
    position: fixed;
    z-index:3;
}
*{
    margin: 0;
    padding: 0;
}
#mem_seek{
    display:block;
    width: 100%; height: 1150px;
    margin-top: 80px;
    font-size: 50px;
    font-family: 'SUIT-ExtraLight';
    font-weight: bold;
}

.mem_wrap{
    display: flex;
    background-color: #dd004e;
}
.mem{
    width: 100%; height: 230px;
    line-height: 100px;  
    display: inline-flex;
    background-color: #dd004e;
    border-right: 3px solid black;
    position: relative;

    margin-left: 50px;
}

.name{
    width: 150px;
    
}

.position{
    margin-top: 100px; margin-left: 330px;
    line-height: 100px;
}

.hide_member{
    display:inline;
    visibility: hidden;
    /* z-index: 2; */
    position: relative;

    width: 100%; 
    background-color: #dd004e;
}
/* .hide_member:hover{
    width: 100%; height: 1200px;
    background-color: #dd004e;
    z-index: 5;
} */
.h_mem_1 img{
    width: 500px; height: auto;
    position: absolute;
    right: 200px; top: 20px;
    border-radius: 8px;
}
.h_mem_1 p{
    color: white;
    font-size: 24px;
    text-align: end;
    position: absolute;
    right: 200px; top:700px;
}


.h_mem_2 img{
    width: 500px; height: auto;
    position: absolute;
    right: 200px; top: -70px;
    border-radius: 8px;
}
.h_mem_2 p{
    color: white;
    font-size: 24px;
    text-align: end;
    position: absolute;
    right: 200px; top: 620px;
}


.h_mem_3 img{
    width: 500px; height: auto;
    position: absolute;
    right: 200px; top: -120px;
    border-radius: 8px;
}
.h_mem_3 p{
    color: white;
    font-size: 24px;
    text-align: end;
    position: absolute;
    right: 200px; top: -230px;
}

.h_mem_4 img{
    width: 500px; height: auto;
    position: absolute;
    right: 200px; top: -400px;
    border-radius: 8px;
}
.h_mem_4 p{
    color: white;
    font-size: 24px;
    text-align: end;
    position: absolute;
    right: 200px; top: 0px;
}


.h_mem_5 img{
    width: 500px; height: auto;
    position: absolute;
    right: 200px; top: -450px;
    border-radius: 8px;
}
.h_mem_5 p{
    color: white;
    font-size: 24px;
    text-align: end;
    position: absolute;
    right: 200px; top: -550px;
}

.hide_member p{
    position: absolute;
    z-index:2.
}
/* .mem ~ .hide_member{
    visibility: visible;
} */

/* .mem{
    width: 100%; height: 230px;
    line-height: 100px;  
    display: inline-flex;
    z-index:0;
    position: relative;
} */

.mem_1:hover ~ .h_mem_1{
    visibility: visible;
    
}
.mem_2:hover ~ .h_mem_2{
    visibility: visible;
    
}
.mem_3:hover ~ .h_mem_3{
    visibility: visible;
}
.mem_4:hover ~ .h_mem_4{
    visibility: visible;
}
.mem_5:hover ~ .h_mem_5{
    visibility: visible;
}